<h3>My tracks</h3>
<div class="row">
  <% @tracks.reverse.each do |track| %>
      <div class="col-3 track">
        <%= link_to track_path(track) do %>
          <img class="tracks-img" src="<%= track.track_image %>">
          <p><%= track.artist %> - <%= track.name %></p>
        <% end %>
        <button class="btn btn-secondary btn-sm" onclick="getPlaylists(<%= current_user.id %>, <%= track.id %>)">Select playlist</button><br>
      </div>
  <% end %>
</div>
