<% if @tracks.present? %>
  <h3><%= t('header.my_tracks')%></h3>
<% else %>
  <div class="playlist-message">
    <p><%= t('app.you_have_not_tracks') %></p>
  </div>
<% end %>

<div class="row">
  <% @tracks.reverse.each do |track| %>
      <div class="col-3 track">
        <%= link_to track_path(track) do %>
          <img class="tracks-img" src="<%= track.track_image %>">
          <p><%= track.artist %> - <%= track.name %></p>
        <% end %>
        <button class="btn btn-secondary btn-sm" onclick="getPlaylists(<%= current_user.id %>, <%= track.id %>)"><%= t("playlist.choose") %></button><br>
      </div>
  <% end %>
</div>

<%= render_if_page_nil(@tracks) %>
