<div class="track">
  <% JSON.parse(@track.provider_links).each do |provider, link| %>
    <span><a href="<%= link %>"><%= link %></a></span><br>
  <% end %>

  <div>
    <div>
      <p><%= t('result.artist') %>: <%= @track.artist %></p>
      <p><%= t('result.album') %>: <%= @track.album %></p>
      <p><%= t('result.name') %>: <%= @track.name %></p>
      <p><%= t('result.release_date') %>: <%= @track.release_date %></p><br>
    </div>
  </div>

  <%= link_to t('app.delete_track'), track_path(@track), method: :delete %>
</div>
