<div class="comment"><%= user_name(@comment.user) %> : <%= @comment.body %></div>
<%= link_to 'reply', new_comment_path(object_id: @comment.id, object_type: @comment.class), remote: true %> |
<%= link_to 'delete', comment_path(@comment), method: :delete, remote: true %>

<div class="nested-comments">
  <div id="comments-on-comment-<%= @comment.id %>">
  </div>
  <div id="new-comment-<%= @comment.id %>"></div>
</div>
<hr>
