<%= form_with model: @comment, id: "comment-form-#{@object.id}" do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :body, id: 'txtarea', class: "form-control", spellchek: false %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :object_id, value: @object.id %>
    <%= form.hidden_field :object_type, value: @object.class %>
    <div class="input-group-append">
      <%= submit_tag(t('input.send'), class: "btn btn-outline-secondary") %>
    </div>
  </div>
<% end %>
