<ul class="list-group" id="search_results">
  <% @results.each do |result| %>
    <% case result.first._index %>
    <% when "users" %>
      <% result.each do |object|%>
      <li class="list-group-item">
        <%= link_to "#{object._source.first_name} #{object._source.last_name}", controller: "users", action: "show",
            id: object._source.id %>
      </li>
      <% end %>
    <% when "playlists" %>
      <% result.each do |object|%>
        <li class="list-group-item">
          <%= link_to "#{object._source.title}", controller: "playlists",
          action: "show", user_id: object._source.user_id, id: object._source.id %>
        </li>
      <% end %>
    <% when "tracks" %>
      <% result.each do |object| %>
        <li class="list-group-item">
          <%= link_to "#{object._source.name} #{object._source.artist}", controller: "tracks",
          action: "show", id: object._source.id %>
        </li>
      <% end %>
    <% when "tags" %>
      <% result.each do |object| %>
        <li class="list-group-item">
          <% if  track_or_playlist = get_object(object._source.obj_type, object._source.obj_id) && track_or_playlist.is_a?(Track) %>
            <%=  link_to "#{track_or_playlist.name}",
              controller: "tracks", action: "show", id: track_or_playlist.id %>
          <% else %>
            <%=  link_to "#{track_or_playlist.title}",
              controller: "playlists", action: "show", user_id: track_or_playlist.user_id, id: track_or_playlist.id %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
