<div class="ava">
  <%= cl_image_tag(@user.avatar) %>
</div>

<div class="info-user">
  <p><%= t('sign_up.first_name') %>: <%= @user.first_name %></p>
  <p><%= t('sign_up.last_name') %>: <%= @user.last_name %></p>
  <p><%= t('profile.email') %>: <%= @user.email %></p>
  <p><%= t('profile.nickname') %>: <%= @user.nickname %></p>
  <p><%= t('profile.date_birthday') %>: <%= @user.date_birthday %></p>
</div>

<% if @user == current_user %>
  <div class="edit-profile">
    <%= link_to t('app.edit_profile'), edit_user_path(@user), class: "btn btn-secondary" %>
  </div>
<% else %>

  <div class="open-chat">
    <%= open_chat(current_user, @user) %>
  </div>

  <% if current_user.following.include?(@user) %>
    <div id="subscribe_on_user">
      <%= render 'user_subscriptions/create' %>
    </div>
  <% else %>
    <div id="subscribe_on_user">
      <%= render 'user_subscriptions/destroy' %>
    </div>
  <% end %>
<% end %>

<% if @user.playlists.empty? %>
  <div class="playlist-message">
    <p><%= playlist_message(@user, current_user) %></p>
  </div>
<% else %>
  <div class="album py-5 users-playlists">
    <div class="container">
      <div class="row" id="new-playlist">
        <%= render playlists(current_user, @user.playlists) %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'playlists/modal' %>
