<div class="ava">
  <img src="<%= @user.avatar %>">
</div>
<div class="info-user">
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.email %>
  <%= @user.nickname %>
  <%= @user.date_birthday %>
</div>

<%= link_to t('app.playlists'), user_playlists_path(@user) %>

<%= open_chat(current_user, @user) %>

<% unless current_user == @user %>
  <% if current_user.following.include?(@user) %>
    <div id="subscribe_on_user">
      <%= render 'user_subscriptions/create' %>
    </div>
  <% else %>
    <div id="subscribe_on_user">
      <%= render 'user_subscriptions/destroy' %>
    </div>
  <% end %>
<% end %>
