<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><%= t('header.music_app') %></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="dropdown open">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name%> <%= current_user.last_name %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= link_to t('header.my_page'), user_path(current_user), class: "dropdown-item" %>
                <%= link_to t('header.my_tracks'), tracks_path, class: "dropdown-item" %>
                <%= link_to t('header.my_playlists'), user_playlists_path(current_user), class: "dropdown-item" %>
                <%= link_to 'Сhat', rooms_path, class: 'dropdown-item' %>
              </div>
            </div>
          </li>
          <li class="nav-item"><%= link_to t('header.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <li class="nav-item">
              <div id="bell" class="bell">
                <% if has_new_notice?(current_user) %>
                  <%= link_to(image_tag("https://img.icons8.com/plasticine/100/000000/appointment-reminders.png", class: 'img-bell', id: "img_bell"), notifications_path, remote: true, id: 'link-notice') %>
                  <div id="quantity-notice" class="quantity-notice"><%= new_notifications_count(current_user) %></div>
                <% else %>
                  <%= link_to(image_tag("https://img.icons8.com/carbon-copy/100/000000/appointment-reminders--v1.png", class: 'img-bell', id: "img_bell"), notifications_path, remote: true, id: 'link-notice') %>
                  <div id="quantity-notice" class="quantity-notice"></div>
                <% end %>
                <div id="dropdown-notifications" class="show-notifications" style="display: none"></div>
            </div>
          <li>
        <% else %>
          <li class="nav-item"><%= link_to t('header.login'), new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t('links.sign_up'), new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= render 'shared/search' %>
      <% end %>
    </div>
  </nav>
</header>
