<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><%= t('header.music_app') %></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <% if user_signed_in? %>
      <div class="dropdown open">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.first_name%> <%= current_user.last_name %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= link_to t('header.my_page'), user_path(current_user), class: "dropdown-item" %>
          <%= link_to t('header.my_tracks'), tracks_path, class: "dropdown-item" %>
          <%= link_to t('header.my_playlists'), user_playlists_path(current_user), class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to t('header.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %></li>

          <% if current_user.has_new_notice? %>
            <%= link_to t('header.my_notice'), notifications_path, class: "nav-link-notice" %>
          <% else %>
            <li class="nav-item"><%= link_to t('header.my_notice'), notifications_path, class: "nav-link" %><li>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to t('header.login'), new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t('links.sign_up'), new_user_registration_path, class: "nav-link" %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= render 'shared/search' %>
      <% end %>
    </div>
  </nav>
</header>
