<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-dark"><%= t('header.music_app') %></a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to t('header.logout'), destroy_user_session_path, method: :delete, class: "p-2 text-dark" %>
      <%= link_to t('header.my_tracks'), tracks_path, class: "p-2 text-dark" %>
      <%= link_to 'My page', user_path(current_user), class: "p-2 text-dark" %>
      <%= link_to 'My playlists', user_playlists_path(current_user), class: "p-2 text-dark" %>

      <% if current_user.has_new_notice? %>
       <%= link_to 'My notice', notifications_path, style: "color: red" %>
     <% else %>
       <%= link_to 'My notice', notifications_path %>
     <% end %>

      <%= render 'shared/search' %>
    <% else %>
      <%= link_to t('header.login'), new_user_session_path, class: "p-2 text-dark" %>
      <%= link_to t('links.sign_up'), new_user_registration_path, class: "p-2 text-dark" %>
    <% end %>
    <%= %>
  </nav>
</div>
