    <div class="border-right sidebar-bg" id="sidebar-wrapper">
      <div class="sidebar-heading bg-same-dark sidebar-bg">
        <%= link_to 'Music Connects', root_path %><br>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 10L42.2111 24.1056C42.9482 24.4741 42.9482 25.5259 42.2111 25.8944L15.4472 39.2764C14.7823 39.6088 14 39.1253 14 38.382V18" stroke="white" stroke-width="3" stroke-linecap="round"/>
          <path d="M49.5 25C49.5 38.531 38.531 49.5 25 49.5C11.469 49.5 0.5 38.531 0.5 25C0.5 11.469 11.469 0.5 25 0.5C38.531 0.5 49.5 11.469 49.5 25Z" stroke="white"/>
        </svg>
      </div>
      <div class="list-group list-group-flush text-red">
        <%= link_to t('header.home'), root_path, class: "sidebar-bg a-sidebar home", id: "a-sidebar-main-style" %>
        <% if current_user %>
          <%= link_to t('header.my_page'), user_path(current_user), class: "sidebar-bg a-sidebar ", id: "a-sidebar-main-style" %>
          <%= link_to t('header.my_tracks'), tracks_path, class: "sidebar-bg a-sidebar ", id: "a-sidebar-main-style" %>
          <%= link_to t('header.my_playlists'), user_playlists_path(current_user), class: "sidebar-bg a-sidebar ", id: "a-sidebar-main-style" %>
          <%= link_to t('header.my_chats'), rooms_path, class: "sidebar-bg a-sidebar", id: "a-sidebar-main-style" %>
        <% end %>
      </div>
    </div>
