<div>
  <% @result.each do |source, link| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01"><%= source %>:</span>
      </div>

      <input type="text" class="form-control" value="<%= link %>" id="<%= source %>" readonly="">

      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" onclick="copy('<%= source %>')"><%= t('input.copy') %></button><br>
      </div>
    </div>
  <% end %>
</div>

<img src="https://img.icons8.com/color/48/000000/telegram-app.png" style="cursor: pointer" onclick="shareTelegram('https://fast-reaches-12261.herokuapp.com/', '<%= @result.values %>')"></img>
<img src="https://img.icons8.com/color/48/000000/gmail.png" style="cursor: pointer" onclick="shareEmail('<%= @result.values %>')"></img>
