<div class="top-10">
  <h3><%= t('popular.top_playlists')%></h3>
  <div class="row">
    <% top_playlists.each do |playlist| %>
        <div class="col-3 track">
          <%= link_to user_playlist_path(playlist.user, playlist) do %>
            <img class="tracks-img" src="<%= playlist.image %>">
            <p><%= playlist.title %> by <%= user_name(playlist.user) %></p>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
