<div class="row">
  <div class="col-12 col-md-3">
    <%= render 'rooms' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <%= render @room_messages %>
    </div>

    <%= form_with model: @room_message do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 class: 'form-control chat-input',
                                 id: 'input-message'
                                 %>
        <div class="input-group-append">
          <%= form.submit t("input.send"), class: 'btn btn-secondary chat-input' %>
        </div>
      </div>

      <%= form.hidden_field :room_id, value: @room.id %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col">
        <div class="message-content">
          <div class="message_current_user" id="message_current_user">
            <div class="name" alt="">
              <img class="avatar-message" data-role="avatar">
              <div data-role="name"></div>
            </div>
            <div class="message-body">
              <p class="mb-1" data-role="message-text"></p>

              <div class="text-right">
                <small data-role="message-date"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col">
        <div class="message-content">
          <div class="message_user" id="message_user">
            <div class="name" alt="">
              <img class="avatar-message" data-role="avatar-user">
              <div data-role="name-user"></div>
            </div>
            <div class="message-body">
              <p class="mb-1" data-role="message-text-user"></p>

              <div class="text-right">
                <small data-role="message-date-user"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
