<h3>Comments: </h3>

<div class ="all-comments">
  <div id="comments">
    <% @playlist.comments.order('created_at asc').to_a.each do |comment| %>
      <div id="comment-<%= comment.id %>">
        <span><div class="comment-body"><%= user_name(comment.user) %> : <%= comment.body %></div></span>
        <% if current_user == comment.user %>
          <%= link_to 'reply', new_comment_path(object_id: comment.id, object_type: comment.class), remote: true %> |
          <%= link_to 'delete', comment_path(comment), method: :delete, remote: true %>
        <% end %>
      <div class="nested-comments">
        <div id="comments-on-comment-<%= comment.id %>">
          <% comment.comments.each do |comment| %>
            <div class="comment-<%= comment.id %>"><%= user_name(comment.user) %> : <%= comment.body %></div>
            <hr>
          <% end %>
        </div>
        <div id="new-comment-<%= comment.id %>"></div>
      </div>
      <hr>
    </div>
    <% end %>
  </div>
  <div id="new-comment">
    <%= form_with model: @playlist.comments.new, id: "comment-form-#{@playlist.id}" do |form| %>
      <%= form.text_area :body, id: 'txtarea', spellchek: false, class: 'form-control' %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.hidden_field :object_id, value: @playlist.id %>

      <%= form.hidden_field :object_type, value: @playlist.class %>

      <%= submit_tag(t('input.send'), class: "btn btn-outline-secondary") %>
    <% end %>
  </div>
</div>

<script>
  textarea();
</script>
