<h3><%= t("comment.comments") %></h3>

<div class ="all-comments">
  <div id="new-comment">
    <%= form_with model: @playlist.comments.new, id: "comment-form-#{@playlist.id}" do |form| %>
      <%= form.text_area :body, id: 'txtarea', spellchek: false, class: 'form-control' %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :object_id, value: @playlist.id %>
      <%= form.hidden_field :object_type, value: @playlist.class %>
      <%= submit_tag(t('input.send'), class: "btn btn-outline-secondary") %>
    <% end %>
  </div>
  <div id="comments">
      <div id="comment-new" class="comment"></div>
    <% @playlist.comments.order('created_at asc').to_a.each do |comment| %>
      <div id="comment-<%= comment.id %>" class="comment">
        <div class="comment-avatar-user"><img src="<%= comment.user.avatar %>"></div>

        <div class="comment-message bg-comment">
            <div class="comment-user">
              <%= user_name(comment.user) %>
            </div>
            <div class="comment-body"><%= comment.body %></div>
            <div class="comment-options">
            <% if current_user == comment.user %>
              <%= link_to t("comment.delete"), comment_path(comment), method: :delete, remote: true %>|
            <% end %>
            <%= link_to t("comment.reply"), new_comment_path(object_id: comment.id, object_type: comment.class), remote: true %>
            </div>
            <div class="nested-comments">
              <div id="comments-on-comment-<%= comment.id %>">
                <% comment.comments.each do |comment| %>
                <div class="comment-<%= comment.id %>"><%= user_name(comment.user) %> : <%= comment.body %></div>
                <% end %>
              </div>
              <div id="new-comment-<%= comment.id %>"></div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
