<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="<%= playlist.image %>">
    <div class="card-body">
      <p class="card-text"><%= playlist.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to t('app.show'), user_playlist_path(playlist.user, playlist), method: :get, class: "btn btn-sm btn-outline-secondary", type: 'button' %>
          <% if current_user == playlist.user %>
            <%= link_to t('app.delete'), playlist_path(playlist), method: :delete, class: "btn btn-sm btn-outline-secondary", type: 'button' %>
            <%= link_to 'Edit', edit_playlist_path(playlist), method: :get, class: "btn btn-sm btn-outline-secondary", type: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
