<div class="playlist-page">
<div class="header-playlist">
  <div class="header-playlist-image">
    <img src="<%= @playlist.image %>">
  </div>
  <div class="playlist-info">
    <div class="playlist-title">
      <%= @playlist.title %>
    </div>
    <div class="owner-playlist">
      <img src="<%= @playlist.user.avatar %>">
      <%= user_name(@playlist.user) %>
    </div>
  </div>
  <div class="pl-options">
    <% if owner?(current_user, @playlist) %>
      <div id="button-public-private-playlist">
        <% if @playlist.private? %>
          <button class="btn btn-danger" onclick="makePublic(<%= @playlist.id %>)"><%= t('app.make_public') %></button>
        <% else %>
          <button class="btn btn-danger" onclick="makePrivate(<%= @playlist.id %>)"><%= t('app.make_private') %></button>
        <% end %>
      </div>
      <div id="new-tag-button">
        <%= button_to t('playlist.create_tags'), new_tag_path, class: 'btn btn-danger', method: :get, params: { playlist_id: @playlist.id },remote: true %>
      </div>
    <% end %>
    <button class="btn btn-danger" onclick="getPlaylistLink()"><%= t('playlist.share') %></button>
  </div>
  <div id="new-tags"></div>
</div>

<div class="playlists-tags">
  <% @playlist.tags.each do |tag| %>
    <div class="tag" onclick="clickOnTag('<%= tag.name %>')"><%= tag.name %></div>
  <% end %>
</div>


<%= render 'tracks' %>

<% unless owner?(current_user, @playlist) %>
  <% if current_user.playlists_by_friends.include?(@playlist)%>
    <div id="button_playlist">
      <%= render 'playlist_subscriptions/create' %>
    </div>
  <% else %>
    <div id="button_playlist">
      <%= render 'playlist_subscriptions/destroy' %>
    </div>
  <% end %>
<% end %>

<div class="playlist-stars">
  <%= render 'shared/stars', resource: @playlist %>
</div>

 <div class="comments-wr">
   <%= render 'comments' %>
 </div>
</div>
