<div class="playlist-page">
<div class="header-playlist">
  <div class="header-playlist-image">
    <img src="<%= @playlist.image %>">
  </div>
  <div class="playlist-info">
    <div class="playlist-title">
      <%= @playlist.title %>
    </div>
    <div class="owner-playlist">
      <img src="<%= @playlist.user.avatar %>">
      <%= user_name(@playlist.user) %>
    </div>
  </div>
  <div class="pl-options">
    <% unless owner?(current_user, @playlist) %>
      <% if current_user.playlists_by_friends.include?(@playlist)%>
        <div id="button_playlist" class="button-playlist">
          <%= render 'playlist_subscriptions/create' %>
        </div>
      <% else %>
        <div id="button_playlist" class="button-playlist">
          <%= render 'playlist_subscriptions/destroy' %>
        </div>
      <% end %>
    <% end %>

    <% if owner?(current_user, @playlist) %>
      <div id="button-public-private-playlist">
        <% if @playlist.private? %>
          <button class="button-playlist btn btn-secondary" onclick="makePublic(<%= @playlist.id %>)"><%= t('app.make_public') %></button>
        <% else %>
          <button class="button-playlist btn btn-secondary" onclick="makePrivate(<%= @playlist.id %>)"><%= t('app.make_private') %></button>
        <% end %>
      </div>
      <div id="new-tags"></div>

      <div id="new-tag-button">
        <%= button_to t('playlist.create_tags'), new_tag_path, class: 'button-playlist btn btn-secondary', method: :get, params: { playlist_id: @playlist.id },remote: true %>
      </div>
    <% end %>
    <button class="button-playlist btn btn-secondary" onclick="getPlaylistLink()"><%= t('playlist.share') %></button>
  </div>
</div>

<div class="playlists-tags">
  <% @playlist.tags.each do |tag| %>
    <span class="tag" onclick="clickOnTag('<%= tag.name %>')"><%= tag.name %> </span>
  <% end %>
</div>

<% if @playlist.tracks.empty? %>
  <div class="playlist-message">
    <p><%= t('app.no_tracks_in_playlist') %></p>
  </div>
<% else %>
  <div class="tracks-in-playlist">
    <%= render 'tracks' %>
  </div>
<% end %>

<div class="playlist-stars">
  <%= render 'shared/stars', resource: @playlist %>
</div>

 <div class="comments-wr">
   <%= render 'comments' %>
 </div>
</div>
