<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="d-flex main-background" id="wrapper" >
    <%= render 'shared/sidebar' %>
    <div id="page-content-wrapper">
      <%= render 'shared/navbar' %>
      <div class='container'>
        <%= render 'shared/flash' %>
        <%= yield %>
        <%= render 'shared/modal' %>
        <%= render 'shared/pop_up'%>
      </div>
    </div>
  </div>
  </body>
</html>
